body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BAD8B6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    height: 100vh;
}